<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>
  {% block title %}
  Quants
  {% endblock title %}
</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/w3.css" %}'/>
<!--    <link rel="stylesheet" href="W3.CSS%20Template_files/css.css">
    <link rel="stylesheet" href="W3.CSS%20Template_files/font-awesome.css">-->
    <style>
      body,
      h1 {font-family: "Raleway", Arial, sans-serif}
      h1 {letter-spacing: 6px}
      .w3-row-padding img {margin-bottom: 12px}
    </style>
</head>

<body>
  <div class="w3-padding">
      <div class="w3-bar w3-border">
          <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-light-grey">Home</a>
          <a href="{% url 'blog:index' %}" class="w3-bar-item w3-button">Blog</a>
          <a href="{% url 'photo:index' %}" class="w3-bar-item w3-button">Photo</a>
          <a href="{% url 'post:index' %}" class="w3-bar-item w3-button">Post</a>
          <li class="w3-bar-item w3-button">Post&bigtriangledown;
            <ul>
                <li><a href="{% url 'post:add' %}">add</a></li>
                <li><a href="{% url 'post:change' %}">change</a></li>
                <li><a href="{# % url 'post:delete' % #}">delete</a></li>
            </ul></li>
          <a href="{% url 'post:search' %}" class="w3-bar-item w3-button">Search</a>


          {# https://wayhome25.github.io/django/2017/03/14/django-07-kilogram-02-auth/ #}
          {# path(r'^accounts/', include('django.contrib.auth.urls')) 에 의해 자동구현 #}
          {% if user.is_active %}
          <div class="w3-bar-item w3-button w3-hide-small">
          <h4>Hi!,
            <strong>{% firstof user.get_short_name  user.get_username %}</strong>
            <a href="{% url 'password_change' %}">Change Password</a>
            <a href="{% url 'logout' %}">LogOut</a></h4></div>

          {% else %}
          <div class="w3-bar-item w3-button w3-hide-small">
          <h4>Welcome
            <a href="{% url 'login' %}">로그인</a>
            <a href="{% url 'register' %}">등록</a></h4></div>
          {% endif %}

      </div>
  </div>

<body>

{% block content %}
{% endblock content %}

</body>
</html>



