{% extends "base.html" %}

{% block title %}
Welcome to my blog
{% endblock %}


{% block content %}
<div><a href="{% url 'blogs:search' %}"> Blog Search Form </a></div>


    <h2>Categories</h2>
    {% if categories %}
        <ul>
           {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}


    <h2>Posts</h2>
        <ul>
            {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

<div>
{% if posts.has_other_pages %}
  <span>
    {% if posts.has_previous %}
      <a href="?page={{ users.previous_page_number }}"> &laquo;</a>
    {% else %}
      <span>&laquo;</span>
    {% endif %}

    {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <span>{{i}}</span>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}


    {% if posts.has_next %}
      <a href="?page={{ users.next_page_number }}">&raquo;</a>
    {% else %}
      <span>&raquo;</span>
    {% endif %}
{% endif %}

{% endblock %}



{% block footer %}
{% endblock footer %}