<header>

	Hello Books List Templates

    <div><a href="{% url 'books:search'   %}"> (form) search </a></div>
    <div><a href="{% url 'books:filter'   %}"> (form) filter </a></div>
    <div><a href="{% url 'books:csv'      %}"> (download) csv01 </a></div>
    <div><a href="{% url 'books:csv2'     %}"> (download) csv02 </a></div>
    <div><a href="{% url 'books:csv_some' %}"> (download) csv_some_scale </a></div>
    <div><a href="{% url 'books:image'    %}"> (download) image </a></div>
    <div><a href="{% url 'books:pdf'      %}"> (download) Pdf </a></div>
    <div><a href="{% url 'books:pdf2'     %}"> (download) Pdf2 </a></div>

</header>