{% extends "elections/layout.html" %}

<!--<html lang="en"><head>..</head><body>-->

{% block title %} {{area}} {% endblock title %}

{% block content %}
<div class="container">
<h1>{{area}}</h1>
<br>
    <!-- poll 객체에 유효한 내용이 포함된 경우 -->
    {% if poll %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>소개</B></td>
            <td><B>기호</B></td>
            <td><B>지지하기</B></td>
        </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
        <tr>
            <!-- for 문의 출력 객체 중 1개만 잘못되어도
                 3가지가 전부 출력시 오류로 먹통 (컴파일언어의 특징 ) -->
            <td> {{candidate.name}}</td>
            <td> {{candidate.introduction}} </td>
            <td> 기호 {{candidate.party_number}} 번 </td>
            <td>

                <!--
                2. Form 입력값을 갖고 경로를 변경
                /areas/사용자객체 : 에 해당되는 urls.py의 함수를 실행

                주의!) = "/polls/{{poll.id}}" 는 오류발생
                       "APPEND_SLASH" 로 URL 끝 슬래시('/')는 장고 필수옵션
                     출처 : http://codingdojang.com/scode/377 -->

            <form action = "/polls/{{poll.id}}/" method="post">
            <!-- server로 Post 객체를 전달시 꼭 암호화가 필요 -->
            {% csrf_token %}
            <button name="choice" value="{{candidate.id}}">선택</button>
            </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<!-- 조건값이 없을 떄 -->
{% else %}
여론조사가 없습니다.
{% endif %}
</div>


{% endblock content %}
